<% @page_title = "FAQs" %>
<% @page_description = "Welcome" %>

<!-- https://stock.adobe.com/search/images?serie_id=141013135 -->
<!-- <div class="hd-grad">
	<div class="inner">
		<div class="box box-text">
			<h1>FAQ's</h1>
		</div>
	</div>
</div> -->

<div class="top-diag">
	<div class="inner">
		<div class="text">
			<h1>FAQ's</h1>
			<h3>These are the most common questions our customers ask us. Please contact us if you have a question that isn't answered here. </h3>
		</div>
	</div>
</div>


<div class="inside">
  <!-- <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle"> -->
	<!-- <div uk-parallax="bgy: -200" class="faq-hd"> -->
  </div>
</div>

<div class="full-page">
	<!-- <div class="kgrid">
		<div class="inside">
			<div class="inner">
				<div class="top">
					<h1>FAQ's</h1>
					<h3>These are the most common questions our customers ask us. Please contact us if you have a question that isn't answered here. </h3>
				</div>

				<div class="top-menu">
					<div class="left">
						<a href="#tab-fish">Do you offer fishing charters?</a>
						<a href="#tab-people">What is the maximum number of people allowed on a charter?</a>
						<a href="#tab-bathroom">Is there a bathroom on the boat?</a>
						<a href="#tab-hours">Is there a minimum number of hours to charter the boat?</a>
						<a href="#tab-shade">Is there any shade on the boat/somewhere to get out of the sun?</a>
					</div>

					<div class="right">
						<a href="#tab-dry">Is there somewhere to keep things dry?</a>
						<a href="#tab-cooler">Do I need to bring a cooler?</a>
						<a href="#tab-food">Should I bring snacks and drinks?</a>
						<a href="#tab-alcohol">Can I bring my own alcohol?</a>
					</div>
				</div>
			</div>
		</div>
	</div> -->


	<div class="faqs-full">
		<div class="inner">
			<div class="left">
				<div id="tab-fish" class="faqs">
					<h4>Do you offer fishing charters?</h4>
					<p>We do not currently offer fishing charters.</p>
				</div>

				<div id="tab-people" class="faqs">
					<h4>What is the maximum number of people allowed on a charter?</h4>
					<p>Six passengers</p>
				</div>

				<div id="tab-bathroom" class="faqs">
					<h4>Is there a bathroom on the boat?</h4>
					<p>Yes, we have a portable potty for emergencies.</p>
				</div>

				<div id="tab-hours" class="faqs">
					<h4>Is there a minimum number of hours to charter the boat?</h4>
					<p>The minimum number of hours to charter the boat is 2 hours for $250.</p>
				</div>

				<div id="tab-shade" class="faqs">
					<h4>Is there any shade on the boat/somewhere to get out of the sun?</h4>
					<p>The boat has a bimini top that can cover the back deck, offering plenty of shade. The boat also has a cuddy cabin to get out of the sun.</p>
				</div>
			</div>

			<div class="right">
				<div id="tab-dry" class="faqs">
					<h4>Is there somewhere to keep things dry?</h4>
					<p>The cuddy cabin has plenty of space to store and keep personal items dry.</p>
				</div>

				<div id="tab-cooler" class="faqs">
					<h4>Do I need to bring a cooler?</h4>
					<p>We provide a large cooler and ice for anything you would like to keep cold. However, you are welcome to bring a small cooler if you would like.</p>
				</div>

				<div id="tab-food" class="faqs">
					<h4>Should I bring snacks and drinks?</h4>
					<p>We provide bottled water, but if you would like anything else be sure to bring it.</p>
				</div>

				<div id="tab-alcohol" class="faqs">
					<h4>Can I bring my own alcohol?</h4>
					<p>You are welcome to bring any alcohol you would like for the day, but NO GLASS.</p>
				</div>
			</div>
		</div>
	</div>
</div>
