<% @page_title = "Our Location" %>
<% @page_description = "Welcome" %>


<!-- <div class="hd-grad">
	<div class="inner">
		<div class="box box-text">
			<h1>Contact Us</h1>
		</div>
	</div>
</div> -->

<div class="full-page">
	<div class="top-diag">
		<div class="inner">
			<div class="text">
				<h1>Contact Us</h1>
				<!-- <h2>The Charter Boat</h2> -->
			</div>
		</div>
	</div>
	<div class="clearfix"></div>


	<div class="inner">
		<div class="intro">
			<h2>Gulf Adventure Charters</h2>
			<p>We are located at the Flora-Bama Marina, on the AL/FL line, across from the world-famous Flora-Bama Bar.
				Whether you are staying in Gulf Shores, Orange Beach, or Perdido Key, we are only minutes away!
				Please contact us if you have any questions about our boat charters. We are happy to help!
				<!-- We are happy to answer any questions you might have about our boat charters. -->
				<br><span>We hope to see you soon!</span>
			</p>
		</div>
	</div>

	<div class="contact-info">
		<div class="inside">
			<div class="image-hlf">
				<%=image_tag('tt6.jpg', class: 'img-responsive', alt: '') %>
			</div>

			<div class="text-hlf">
		    <div class="text">
		    	<div class="blk">
		    		<h4>Open 7 days a week!</h4>
		    		<div class="title-line"></div>
						<div class="clearfix"></div>

			    	<p><span>Flora-Bama Marina:</span><br>
						29603 Perdido Beach Blvd<br>
						Orange Beach, AL 36561<br>
						<b>Slip: 123</b></p>
					</div>

					<div class="blk">
						<p><span>Phone: </span><br> 251.424.3430</p>
						<p><span>Email: </span><br> info@boatgulfadventurecharters.com</p>
						<div class="social">
							<%= link_to"/fb", :target => "_blank" do %>
								<i class="uk-icon" uk-icon="facebook"></i>
							<% end %>

							<%= link_to "/insta", :target => "_blank" do %>
								<i class="uk-icon" uk-icon="instagram"></i>
							<% end %>
						</div>

						<%= link_to "Book Now", "", class: 'grad-link', target: '_blank' %>
					</div>
		    </div>
		  </div>

		</div>
	</div>

	<div id="payments" class="payment-info">
		<div class="inner">
	  	<h2>Payment Info</h2>
	  	<div class="pay1">
				<h3>Forms of Payment:</h3>
				<!-- <div class="title-line"></div> -->
				<!-- <div class="clearfix"></div> -->
				<p> Cash or Credit Card. <br>A $100 deposit is required at the time of booking.</p>
			</div>

			<div class="pay2">
				<h3>Cancellation Policy:</h3>
				<!-- <div class="title-line"></div> -->
				<!-- <div class="clearfix"></div> -->
				<p> All reservations canceled within 48 hours of their scheduled charter will be charged in full.</p>
			</div>
	  </div>
	</div>

</div>
