<div class="head-banner">
	<div class="inner">
		<h1>Our Location</h1>
		<h3>We are located at the Flora Bama Marina on the AL/FL line, across from the world-famous Flora Bama Bar!</h3>
	</div>
</div>

<div class="top-box">
	<div class="inside">
		<h2>Contact Us</h2>
    <div class="image"><%= image_tag "tt1.jpg" %></div>

    <div class="text">
    	<h3>Flora Bama Marina:<br>
			29603 Perdido Beach Blvd<br>
			Orange Beach, AL 36561</h3>

			<h3>Slip: ###</h3>

			<h3>Phone: 251.424.3430</h3>
			<h3>Email: info@boatgulfadventurecharters.com</h3>

			Payment Info
			Forms of Payment: Cash or Credit Card
			A $100 deposit is required at the time of booking.
			Cancellation Policy: All reservations canceled within 48 hours of their scheduled charter will be charged in full.


			Open 7 days a week

    </div>
	</div>
</div>


<div class="full-page">
	<div class="inner">

		<p>Whether you are staying in Gulf Shores, Orange Beach, or Perdido Key, we are only minutes away!</p>

		<p>We are happy to answer any questions you might have about our boat charters!<br>
		Please send us an email or call us today.</p>

		<p>We hope to see you soon!</p>



	</div>
</div>
