<% @page_title = "Page" %>
<% @page_description = "Welcome" %>


<div class="full-page">
	<div class="inside">

			<div class="hd-over">
				<div class="in-over">
					<div class="inside">
						<h1>Test Page</h1>
					</div>
				</div>
			</div>

			<div class="diag-sec">

				<div id="tab-fish" class="faqs one">
					<div class="content">
						<h4>Do you offer fishing charters?</h4>
						<p>We do not currently offer fishing charters.</p>
					</div>
				</div>

				<div id="tab-people" class="faqs two">
					<div class="content">
						<h4>What is the maximum number of people allowed on a charter?</h4>
						<p>Six passengers</p>
					</div>
				</div>

				<div id="tab-bathroom" class="faqs three">
					<div class="content">
						<h4>Is there a bathroom on the boat?</h4>
						<p>Yes, we have a portable potty for emergencies.</p>
					</div>
				</div>

				<div id="tab-hours" class="faqs four">
					<div class="content">
						<h4>Is there a minimum number of hours to charter the boat?</h4>
						<p>The minimum number of hours to charter the boat is 2 hours for $250.</p>
					</div>
				</div>

				<div id="tab-shade" class="faqs five">
					<div class="content">
						<h4>Is there any shade on the boat/somewhere to get out of the sun?</h4>
						<p>The boat has a bimini top that can cover the back deck, offering plenty of shade. The boat also has a cuddy cabin to get out of the sun.</p>
					</div>
				</div>

				<div id="tab-dry" class="faqs six">
					<div class="content">
						<h4>Is there somewhere to keep things dry?</h4>
						<p>The cuddy cabin has plenty of space to store and keep personal items dry.</p>
					</div>
				</div>

				<div id="tab-cooler" class="faqs svn">
					<div class="content">
						<h4>Do I need to bring a cooler?</h4>
						<p>We provide a large cooler and ice for anything you would like to keep cold. However, you are welcome to bring a small cooler if you would like.</p>
					</div>
				</div>

				<div id="tab-food" class="faqs eight">
					<div class="content">
						<h4>Should I bring snacks and drinks?</h4>
						<p>We provide bottled water, but if you would like anything else be sure to bring it.</p>
					</div>
				</div>

				<div id="tab-alcohol" class="faqs last">
					<div class="content">
						<h4>Can I bring my own alcohol?</h4>
						<p>You are welcome to bring any alcohol you would like for the day, but NO GLASS.</p>
					</div>
				</div>
			</div>
	</div>
</div>
