<% @page_title = "Toy Time Charter Boat" %>
<% @page_description = "Welcome" %>

<div class="full-page">
	<div class="top-diag">
		<div class="inner">
			<div class="text">
				<h1>Toy Time</h1>
				<h2>The Charter Boat</h2>
			</div>
		</div>
	</div>

	<div class="full-toy">
		<div class="inner">
			<div class="toy-grid">
				<div class="tg-img"><%= image_tag('tt2.jpg', class: 'img-responsive', alt: 'Gulf Adventure Charters, Toy Time Image') %></div>

				<div class="tg-box one">
					<h4>25ft Cuddy Cabin Grady White</h4>
					<p>Bow seating<br>
					Large back deck with seating</p>

					<h4>Awesome sound system</h4>
					<p> Play your own music!</p>

					<h4>Bimini top option</h4>
					<p> For shade on the back deck.</p>

					<h4>Cabin</h4>
					<p> To keep things dry and out of the sun.</p>

					<h4>Bathroom</h4>
					<p>Portable potty for emergencies.</p>

				</div>
			</div>
		</div>
	</div>


	<div class="single-sec">
		<div class="tg-link one">

			<%= link_to "", class: "links" do %>
				View Our Charter Options
			<% end %>
		</div>

		<div class="tg-link two">

			<%= link_to "", class: "links" do %>
				Contact and Location Information
			<% end %>
		</div>
	</div>

	<div class="grad-sec">
		<div class="inner"></div>
	</div>
</div>
