<% @page_title = "Toy Time Charter Boat" %>
<% @page_description = "Welcome" %>

<div class="full-page">
	<div class="inner">
		<div class="full-section">
			<div class="inside">
				<h2>Meet The Boat</h2>
				<h1>Toy Time</h1>
				<hr>

				<ul>
					<li>25ft cuddy cabin Grady White</li>
					<li>Bow seating</li>
					<li>Large back deck with seating</li>
					<li>Awesome sound system – play your own music!</li>
					<li>Bimini top option for shade on the back deck</li>
					<li>Cabin to keep things dry and out of the sun</li>
					<li>Bathroom – portable potty for emergencies</li>
				</ul>

				<div class="img-sec">
					<%= image_tag('tt6.jpg', class: 'img-responsive display-img', alt: 'Gulf Adventure Charters, Toy Time Image') %>
				</div>
			</div>
		</div>
	</div>
</div>
