// @import "mixins";
// @import "variables";

/*****************************************/
/***************HEADER*******************/
/*****************************************/

// header.site-header{ position: absolute; background-color: transparent;
//   height:212px;
//     .sitenav li.navlink a{color: $white;}
//     nav {background-color: transparent;@include ease();
//       &.uk-sticky.uk-sticky-fixed.uk-active{background-color: $white;  }
//     }
//   }

header.site-header {@include sec-default(); text-align: center;
  .upper-hd {@include sec-default(); padding: 5px 0;
    .logo-img{width:150px; @include center-block();}
  }

  nav {
    @include sec-default(); @include ease();
    // display: inline-block; float: left;width: 65%; margin-left: 4%;
    &.uk-sticky.uk-sticky-fixed.uk-active{box-shadow: 0px 1px 1px rgba($black, .2);background-color: $white; }
  }
  .inline-nli {display: inline-block;width: 10%; float: left;margin-top: 75px;
    font-size: 15px;
    font-weight: 600; font-family: $open; font-size:18px; color: $white; letter-spacing: 1px;line-height: 1.8em;
    &.phone-nli {float: right;}
    a {font-weight: 600; font-family: $raleway; font-size:18px; color: $white; letter-spacing: 1px; text-shadow: 0px 1px 1px rgba(black, .2);}
  }

  .sitenav {width: 42%; display: inline-block;
    margin: auto; float:none; padding:10px 0;
    &.uno {float:left;}
    &.dos {float:right;}
  }
  // .sitenav {width: 75%; display: inline-block; margin: auto; float:none; padding:10px 0;}
  .sitenav li{display: inline-block;
    &.navli {margin: 0px 2.4% 0; margin-top: 65px;}
    &.ft-only {display: none;}
    // &.nav1, &.nav2{float: left;}
    // &.nav3, &.nav4, &.phone-link{float: right;}
    // &.logo-nav {width: 135px; @include ease(); margin-top: 7px; margin-bottom: 0;}
    .navlink {font-family: $chels; font-size:18px; color: $white; letter-spacing: 1.5px; text-shadow: 0px 1px 1px rgba($black, .5);}
  }
  .logo-nav {display:inline-block; width:12%; @include ease(); margin-top: 7px; margin-bottom: 0;}

  .upper {@include sec-default(); padding: 5px 0 0;
    display: none;
    .hd-social, .phone-hd {display:inline-block; float: right;}
    .phone-hd{float: right;}

    i {margin-right: 20px; color: $white;}
  }
}


/*****************************************/
/***************FOOTER*******************/
/*****************************************/
.site-footer { @include sec-default(); text-align: center; padding:30px 0 30px; box-shadow: 0px 2px 3px rgba(black, .35);
  // background-color: $blue;
  background-color: $white;
  position: relative;z-index: 0;
  // &::before {@include before();
  //   top: -78%;
  //   background: -webkit-linear-gradient(-122deg, $blue 55%, transparent 40%);
  //   background: linear-gradient(-4deg, $blue 55%, transparent 40%);
  // }

	.inner {width: 80%;}

  .grad-link {@include gradient($lt-blue, $navy);}
	.foot-block {@include sec-grid(left, 32%);margin-left:1%;
    &.info {
      .phone-ft, .social {display: inline-block; width: 48%; float: left;}
      .social{float:right;
        i {margin-right: 15px;}
      }
    }
  }
	.ft-nav { text-align: center;
    li {display:inline-block; margin: 0px 20px 10px; font-weight: 600;
      position: relative;z-index: 0;
      &::after {@include before(); width: 6px; height: 5px; border-radius: 50%; background-color: $blue;
        top: 12px; left:100%; margin-left: 18px;
      }
      &:nth-child(3)::after, &:last-child::after {display: none;}
    }
		.logo-nav{display: none; }
    ul.dos {display: none;}
	}
	p, li a{font-size:16px; }
  p{color:$navy;}
}

