// @import "mixins";
// @import "variables";

/*****************************************/
/***************HEADER*******************/
/*****************************************/
header.site-header {@include sec-default(); text-align: center;
  .mobile-nav {display: none;}
  .upper-hd {@include sec-default(); padding: 5px 0;
    .logo-img{width:150px; @include center-block();}
  }

  nav {
    @include sec-default(); @include ease();
    &.uk-sticky.uk-sticky-fixed.uk-active{box-shadow: 0px 1px 1px rgba($black, .2);background-color: $white; }
  }
  .inline-nli {display: inline-block;width: 10%; float: left;margin-top: 75px;
    font-size: 15px;
    font-weight: 600; font-family: $open; font-size:18px; color: $white; letter-spacing: 1px;line-height: 1.8em;
    &.phone-nli {float: right;}
    a {font-weight: 600; font-family: $raleway; font-size:18px; color: $white; letter-spacing: 1px; text-shadow: 0px 1px 1px rgba(black, .2);}
  }

  .sitenav {width: 42%; display: inline-block;
    margin: auto; float:none; padding:10px 0;
    &.uno {float:left;}
    &.dos {float:right;}
  }
  .sitenav li{display: inline-block;
    &.navli {margin: 0px 2.4% 0; margin-top: 65px;}
    &.ft-only {display: none;}
    .navlink {font-family: $chels; font-size:18px; color: $white; letter-spacing: 1.5px; text-shadow: 0px 1px 1px rgba($black, .5);}
  }
  .logo-nav {display:inline-block; width:12%; @include ease(); margin-top: 7px; margin-bottom: 0;}

  .upper {@include sec-default(); padding: 5px 0 0;
    display: none;
    .hd-social, .phone-hd {display:inline-block; float: right;}
    .phone-hd{float: right;}

    i {margin-right: 20px; color: $white;}
  }

  @include bp(tb) {
    .sitenav.uno {display: none;}

    .logo-nav {width:30%; float:left; margin-top: 15px;
      .logo-img{width:130px; float: left;}
    }

    .sitenav.dos {width:50%; float: none;
      li {margin-top:50px;}
    }
    .uk-offcanvas-content.mobile-nav {display: inline-block; float: right; width: 20%; margin-top: 60px;}
    .menu-btn {float:right; background-color: $white; padding:6px; border-radius: 5px;}
  }

  @include bp(ph) {
    .sitenav.dos {
      width:60%; float: right;
      li .navlink {font-size: 16px;}
      li.icons{margin-right: 0; float: right}
    }
    .uk-offcanvas-content.mobile-nav { width: 15%; margin-top: 10px;}
    .menu-btn {padding:4px; }
  }

  @include bp(sm) {
    .sitenav.dos {
      width:65%;
      li {margin-top: 25px;}
    }
    .uk-offcanvas-content.mobile-nav { width: 15%; margin-top: 10px;}
    .menu-btn {padding:4px; }
  }
}


/*****************************************/
/***************FOOTER*******************/
/*****************************************/
.site-footer { @include sec-default(); text-align: center; padding:30px 0 30px; box-shadow: 0px 2px 3px rgba(black, .35);
  background-color: $white;
  position: relative;z-index: 0;
	.inner {width: 80%;}
  .mobile-nav {display: none;}

  .grad-link {@include gradient($lt-blue, $navy);}
	.foot-block {@include sec-grid(left, 32%);margin-left:1%;
    &.info {
      .phone-ft, .social {display: inline-block; width: 48%; float: left;}
      .social{float:right;
        i {margin-right: 15px;}
      }
    }
  }
	.ft-nav { text-align: center;
    li {display:inline-block; margin: 0px 20px 10px; font-weight: 600;
      position: relative;z-index: 0;
      &::after {@include before(); width: 6px; height: 5px; border-radius: 50%; background-color: $blue;
        top: 12px; left:100%; margin-left: 18px;
      }
      &:nth-child(3)::after, &:last-child::after {display: none;}
    }
		.logo-nav{display: none; }
    ul.dos {display: none;}
	}
	p, li a{font-size:16px; }
  p{color:$navy;}

  @include bp(tb) {
    .inner {width: 90%;}
    p, li a{font-size:15px; }

    .ft-nav li {margin: 0px 15px 10px;
      &::after {margin-left: 12px}
      &:nth-child(3)::after{display: block;}
    }
  }

  @include bp(tn) {
    padding: 15px 0;
    .foot-block {width:95%; @include center-block();}
    .foot-block.bkbtn {margin: 15px auto;
      br{display: none; }
    }
    .foot-block.info {
      .one, .two{@include sec-default();}
    }
  }
}

