// @import "mixins";
// @import "variables";
@import "uikit";

ul {padding-left:0;}

.inner {width:85%; @include center-block();}
.inside {@include sec-default();}

.wave-div{
  @include sec-default();  background-color: transparent;
  margin-top:-100px;height:110px;
  background-image: url(image_path('sea-less.png'));background-repeat: repeat;background-size: 70%;
}

.full-page{@include sec-default();padding: 60px 0;}

.custom-banner {@include sec-default(); height: 400px;
  background-image: url(image_path('water-vert.jpg')), url(image_path('tt1.jpg'));
  background-position: top left, center right; background-size: 25%, 75%; background-repeat: no-repeat;
  position: relative; z-index: 0;
  &::before {@include before(); width:25%; background-color: rgba($navy, .7);}
  .inner {padding: 30px 0; width:40%; float: left; margin-left: 15%; }
  h1, h3 {color: $white; @include tshadowl($black);}
}

.hd-grad{@include sec-default(); padding: 6% 0;
  @include sec-bgimage('boat-view4.jpg');background-position:center center;
  position: relative;z-index: 0; &::before {@include before(); height: 5px; background-color: white; top: 49%;}
  h1{font-family: $chels; letter-spacing: 1px; text-transform: uppercase; font-weight: bold;}
  .box-text {background-color: $orange; width: 33%; border:5px solid white; @include center-block(); padding: 2% 15px; text-align: center;
    position: relative;z-index: 0;
    &::before {@include before(); background-color: white; width:5px; margin-top: -104px; left: -5px;}
    &::after {@include before(); background-color: white; width:5px; margin-top: 104px; left: 100%;}
  }
}


.grad-link {width: auto; padding: 10px 30px; @include gradient($lt-blue, $blue); color: $white; font-weight: bold; border-radius:5px; letter-spacing: 1.5px; text-transform: uppercase;}


.kgrid{@include sec-default();
  .left, .right {@include sec-grid(left, 45%);}
  .right {float: right;}
}

ul{list-style-type: none; margin-bottom: 0;}

a {
  text-decoration: none;
  &:hover{text-decoration: none;opacity: .7;}
}
// p{font-size:17px;}

/*****************************************/
/*****************************************/
/*****************************************/
.top-diag {@include sec-default();background-color: $yellow;
  position: relative;z-index: 0;
  // padding: 220px 0 40px;
  padding: 60px 0 0px;
  &::before{@include before(); height:100px; top:85%;
    background: -webkit-linear-gradient(-122deg, $f8 50%, $yellow 50%);
    background: linear-gradient(-4deg, $f8 50%, $yellow 50%);
  }
  h1{font-family: $chels; letter-spacing: 1px; text-transform: uppercase; font-weight: bold;}

  .text{width: 60%; margin-left: 10%;}
}

.home {overflow-x: hidden;
  header{position: absolute; background-color: transparent;
    .sitenav li.navlink a{color: $white;}
    // nav{background-color: transparent;}
    nav {background-color: transparent;@include ease();
      &.uk-sticky.uk-sticky-fixed.uk-active{background-color: $white;  }
    }
  }

  p {font-size: 16px;color: $light;}

  .wave-div{margin-top:-65px;background-size: 60%;}

  .site-intro {
    @include sec-default();@include sec-bgimage('header-img.jpg'); background-size:cover;
    height: 700px;

    padding: 80px 40px;
    text-align: center;
    h1, h2, .phone-link{ text-shadow: 0px 1px 1px rgba($navy, .9);}
    h1 {font-size:40px; line-height: 1.5em; text-transform: uppercase;  font-family: $chels; line-height: 1.2em;
      margin-top:100px;
      span{font-size: 30px;color: $white;}
      b{color: $lt-blue;}
    }
    h2{color:$white; font-weight: 600; letter-spacing: 1.5px; text-transform: uppercase; }
    .phone-link {font-family: $chels; color: $orange; font-size: 44px;}
  }

  h1 {font-size:40px; line-height: 1.5em; text-transform: uppercase;  font-family: $chels; line-height: 1.2em;
      span{font-size: 30px;color: $yellow;}
      b{color: $blue;}
      width:60%; @include center-block();
  }

  .sec1, .sec2, .sec3, .sec4 {@include sec-default(); padding: $fw-pad;
    .inner {width:80%;}
  }

  .sec1 { text-align: center; padding: 50px 0 150px;
    .text {width: 65%; @include center-block();}
  }

  .sec2 {padding-top:0; background-color: $f9;
    @include sec-default(); position: relative;z-index: 0;&::before{@include before(); height:80%; @include sec-bgimage('water-sketch-orange.jpg');}
    // &::after{@include before(); height:6%; background-color: $f7; top: 94%;}
    .inner{width:75%;}

    .left {width: 45%; display:inline-block; float: left;  background-color: transparent; margin-top:-3%;}
    .text-box {width: 44%; float: right; display: inline-block; margin-top:200px; background-color: $white; padding:30px 5%;
      h4{font-weight: bold; font-family: $chels; letter-spacing: 1px; text-transform: uppercase; font-size:18px;}
      .grad-link {@include gradient(rgba($orange, .85), $orange);}
    }
  }

  .sec3 {background-color: $f9; position: relative; z-index: 0;padding:60px 0 130px;
    .inner{width:75%;}
    h3{font-weight: bold;margin-bottom:5px;}
    .image, .content-hlf {@include sec-grid(right, 50%);}
    .content-hlf{float:left; width: 48%;}

    .image .img-sec3{width:100%;max-height:370px;}
    .text {padding:20px 10% 10px; background-color: $white; margin-bottom: 10px;}

    .lr-link{@include sec-grid(left, 49%); text-align: center;
      position: relative; z-index: 0;
      padding: 8% 0 0 2%;
      height:190px;
      // padding: 14% 5%;
      text-align: center;
      p{width:40%;font-size: 20px; font-family: $raleway; color: $white; font-weight: bold; @include tshadowl(rgba($black, .9));letter-spacing: 1px;}

      &.one{@include sec-bgimage('boat-view3.jpg');
        &::before {@include before();
          background: -webkit-linear-gradient(-122deg, $orange 50%, transparent 25%);
          background: linear-gradient(125deg, $orange 50%, transparent 25%);
        }
      }
      &.two{@include sec-bgimage('boat-view2.jpg'); float:right;
        &::before {@include before();
          background: -webkit-linear-gradient(-122deg, $blue 50%, transparent 25%);
          background: linear-gradient(125deg, $blue 50%, transparent 25%);
        }
      }
    }
  }

  .sec4 {background-color: $f9; padding: 80px 0 150px;
    @include sec-bgimage('stock5.jpg'); background-size: 60%; background-position: right bottom;
    .text-box {width: 30%; @include center-block(); padding:40px;  float:left; margin-left: 5%;
      p{color: $navy; font-size:18px;}
    }

    position: relative; z-index: 0;
    &::after {@include before(); margin-top:-2%;height:106%;
      background: -webkit-linear-gradient(-122deg, $yellow 50%, transparent 25%);
      background: linear-gradient(115deg, $yellow 50%, transparent 25%);
      // background: -webkit-linear-gradient(-102deg, darken($blue, 15%) 19%, transparent 81%);
      // background: linear-gradient(12deg, darken($blue, 15%) 19%, transparent 81%);
    }
    h4 {color: $navy; font-size: 25px; font-family: $chels; letter-spacing: 1px; text-transform: uppercase;}
  }

  @include bp(xl) {
    // p {font-size: 18px;}
  }
}


.location {
  .full-page .inner {width:90%;}
  h2{font-family: $chels; letter-spacing: 1px; text-transform: uppercase; font-weight: bold;}
  h3 {font-weight: bold;}
  p{margin-bottom: 10px;}

  .top-diag {background-color: $orange;
    &::before{
      background: -webkit-linear-gradient(-122deg, $white 50%, $orange 50%);
      background: linear-gradient(-4deg, $white 50%, $orange 50%);
    }
  }


  .intro {width:65%; @include center-block();text-align: center; padding:50px 0 70px;
    p{color: $light;}
  }

  .title-line {width: 10%; height: 1px; background-color: $navy; margin: 0 auto 20px;}

  .contact-box{@include sec-default(); padding:30px 40px; margin-top:25px;
    background-color:$f8; @include sec-bgimage('tt6.jpg'); background-size: 50%; background-position: top right;

    background-size: 60%; background-position: right center;
    position: relative; z-index: 0;
    &::after {@include before(); margin-top:-2%;height:110%;
      background: -webkit-linear-gradient(-122deg, $f8 50%, transparent 25%);
      background: linear-gradient(115deg, $f8 50%, transparent 25%);
    }
    .text{@include sec-default();padding: 30px 3%;
      // width: 85%;@include center-block();
      border:2px ridge rgba($black, .6);
    }

    .blk{width: 40%; text-align: center; margin: 20px 0;}
    p {line-height: 1.55em; font-size:17px; letter-spacing: .5px;
      span{font-size:16px; color: $blue; font-weight: bold;}
    }
  }


  .payment-info{@include sec-default(); padding: 60px 0 75px; margin-top:40px; background-color: $blue;
    .inner {width:75%; text-align: center;}
    .pay1, .pay2{@include sec-grid(none, 40%); margin-left:5%;}
    h2{margin-bottom: 45px;}
    h3{margin-bottom: 7px;}
  }
}

.charters {
  .top-diag {margin-bottom: 60px;
    .text{width: 50%; margin-left: 0;}
    &::before{top:100%;
      background: -webkit-linear-gradient(-122deg, transparent 50%, $yellow 50%);
      background: linear-gradient(-4deg, transparent 50%, $yellow 50%);
    }
    h3{margin-bottom: 0}
  }

  .underlay {position: relative;z-index: 0;}
  .overlay{position: absolute; z-index: 4;}


  .full-menu{@include sec-default();
    @include sec-bgimage('paper1.jpg'); background-repeat: repeat; position: relative;z-index: 0;
    &::before {@include before(); background-color: rgba($white, .7); }
  }
  .charter-menu {
    display: inline; float: left;
    width:45%; margin: 40px 0 70px;
    position: relative; z-index: 0;
    &::before {@include before(); width: 52%; @include sec-bgimage('splash-bg.png'); top:-40px; left: -45px; }

    &:nth-child(2n+2) {float: right;}


    .co-icon {@include center-block();width:23%;display: inline-block;float: left;}
    .icon {height:120px; @include center-block(); margin-top:55%;}

    .text { display: inline-block;float: left; width: 75%; float: right; background-color: $f9; box-shadow: 0px 1px 20px rgba($black, .3);
      padding:30px 30px 20px; margin-top:10px;
    }
    .title-line {width: 15%; height: 2px; background-color: $navy; margin-bottom: 20px;}
    h4 {font-size: 1.3rem; letter-spacing: 1px; font-family: $chels; text-transform: uppercase; margin-bottom: 7px; font-weight: bold;}
    .book-btn{font-style: italic; color: white; padding: 7px 15px; float: right; background-color: $yellow;font-weight: bold;box-shadow: 0px 0px 10px rgba($black, .2);}
    p span{font-size:15px; color: darken($light, 10%); color:darken($orange, 10%); font-weight: bold;}


    &.color1 {
      .co-icon::before, .book-btn, .title-line {background-color: darken($yellow, 12%);;}
      h4{color: darken($yellow, 12%);}
      &::before {@include sec-bgimage('splash-bg1.png');}
    }

    &.color2 {
      .co-icon::before, .book-btn, .title-line {background-color: $blue;}
      h4{color: $blue;}
      &::before {@include sec-bgimage('splash-bg2.png');}
    }

    &.color3 {
      .co-icon::before, .book-btn, .title-line {background-color: #bf81d9;}
      h4{color: #bf81d9;}
      &::before {@include sec-bgimage('splash-bg3.png');}
    }

    &.color4 {
      .co-icon::before, .book-btn, .title-line {background-color: darken($lt-blue, 10%);}
      h4{color: darken($lt-blue, 10%);}
    }

    &.color5 {
      width: 80%; margin-left: 10%;
      .co-icon::before, .book-btn, .title-line {background-color: $orange;}
      h4{color: $orange;}
      .icon {margin-top: 35%;}
      &::before {@include sec-bgimage('splash-bg5.png'); width:42%; top: -55px;left:-25px;}


      // float: left; margin-left: 0; width: 65%;
      // .text{float:none; width: 81%}
      // .co-icon {width:17%;}
      // .icon {margin-top: 50%;}
      // &::before {width:42%; top: -55px;left:-40px;}
    }

    &.celebrate {background-color: $litest; width: 33%;  padding:40px 30px 40px 40px; box-shadow: 0px 1px 20px rgba($black, .3);
      // display: none;
      @include sec-bgimage('stock5.jpg'); background-size: cover; height:305px; margin-top:50px;
      .co-icon {width:30%; @include center-block();}
      .icon {height: auto; margin-top: 10px;}
      &::before{@include before(); background-color: rgba($yellow, .8); background-image: none;}
    }
  }


  .callout {@include sec-default();
    // padding: 100px 0 80px;
    padding: 60px 0 80px;
    // background-color: $f9; @include sec-bgimage('water-sketch.png'); background-position: center center;
    .inner{width: 90%;}
    .text-blk {display: inline-block; width: 32%; margin-left: 1%; float: left; background-color: white; padding: 30px;}
    h4 {color: $navy; font-family: $chels; letter-spacing: 1px; text-transform: uppercase; font-weight: bold; margin-bottom: 4px;}



    .left, .right {@include sec-grid(left, 42%); }
    .right {float: right; width: 30%; }
    .text-blk{ margin-left: 0; margin-bottom: 15px;
      @include sec-default();
      background-color: transparent; padding:0;
      &.out{margin-left: -3%;}
      &.cel {background-color: white; padding:30px 40px; margin-top: 50px; text-align: center; }
      &.in {margin-left: 4%}
    }


    @include sec-bgimage('stock5.jpg'); background-size: 60%; background-position: right bottom;

    // background-color: $navy;
    position: relative; z-index: 0;
    &::after {@include before();height:106%;
      background: -webkit-linear-gradient(-122deg, $yellow 50%, rgba(black, .45) 25%);
      background: linear-gradient(115deg, $yellow 50%, rgba(black, .45) 25%);
    }


  }

  @include bp(tb) {
    .charter-menu{
      width:65%; margin-left: 17%;
      &::before {width:40%;}
      &:nth-child(2n+2) {
        .co-icon{float: right;}
        .text {float: left;}
        &::before {left:70%;}
      }
    }
  }
}

.faq {
  .uk-background-cover {background-image: url(image_path('water-close.jpg')); position: relative;z-index: 0;}
  .faq-hd {@include sec-default();background-image: url(image_path('water-close.jpg'));height:250px; background-position: center center; }


  .kgrid{position: relative;z-index: 1;
    width: 45%; @include center-block();
    margin-top: -12%;
    .inside{border-radius: 2px; border:1px solid #dfdfdf; padding: 15px ;background-color: $white;}
    .top{@include sec-default(); text-align: center;}

    .left, .right{@include sec-grid(left, 48%); text-align: right;}
    .right{
      padding-left: 5%;
      text-align: left;
      float:right;
      position:relative; z-index: 0;
      &::before{@include before(); width: 4px; height: 100%; background-color: $blue;}
    }

    h1{font-weight: bold; font-family: $chels; color: $orange; }
    h3 {font-size: 17px;}
    .top-menu a {@include sec-default(); margin-bottom:5px; color: $blue; font-size:1.2rem; display: none;}
  }

  .full-page{background-color: $f8;}

  .faqs-full{@include sec-default(); padding:70px 0;
    position: relative; z-index: 0;
    &::before {@include before(); width: 1.5px; height:90%; background-color: rgba($blue, .5); top:5%; left: 50%;}
    .inner {width: 80%;}
    .left, .right {@include sec-grid(left, 48%); }
    .left{text-align: right;}
    .right{float: right; text-align: left;}

    .faqs {@include sec-default();
      padding:20px 10px;
      h4 {margin-bottom: 5px; font-weight:bold; }
      p{margin-bottom: 0; color:$light;}
    }
  }

}

.toy-time {
  // header{position: absolute; background-color: transparent;z-index: 10;
  //   .sitenav li.navlink a{color: $white;}
  //   nav {background-color: transparent;@include ease();
  //     &.uk-sticky.uk-sticky-fixed.uk-active{background-color: $white;  }
  //   }
  // }

  .full-page{ @include sec-default();
    // position: relative;z-index: 0;&::before{@include before(); background-color: rgba($f8, .85);}
    padding:80px 0;

    .full-section{@include sec-default(); box-shadow: 0px 5px 25px rgba($black, .2);
      @include sec-bgimage('bv2-vert.jpg'); background-position: left center; background-size: 40%; padding-left: 20%;

      .inside {background-color: $white; padding: 50px;}
      ul, .img-sec {@include sec-grid(left, 45%);}

      .img-sec {float: right;}

      li {font-size: 18px; margin-bottom:7px; text-transform: uppercase; letter-spacing: 1px}
      h2{margin-bottom:0;font-family: $chels; letter-spacing: 1px; text-transform: uppercase; }
      h1{font-family: $chels; letter-spacing: 2px; text-transform: uppercase; font-weight: bold; line-height: 1em;}
    }
  }

  h2{margin-bottom:0;font-family: $chels; letter-spacing: 1px; text-transform: uppercase; }
  h1{font-family: $chels; letter-spacing: 2px; text-transform: uppercase; font-weight: bold; line-height: 1em;}

  .full-toy{ @include sec-default(); padding:$fw-pad; background-color: $f8; margin: 40px 0;
    .inner{width: 75%;}

    .toy-grid { text-align: center;
      width: 100%; margin: 20px 0;
      .tg-box, .tg-img {@include sec-grid(left, 49%); position: relative;z-index: 2;}
      .tg-box{padding:35px 20px 20px 80px; background-color:$white;z-index: 1; margin-top:4%; text-align:left; border-top: 3px solid $blue;
        box-shadow: 0px 0px 15px rgba($black, .1); margin-left: -3%;
      }

      h4{font-size: 18px; font-family: $chels; letter-spacing: 1px; color:$navy; margin-bottom: 4px; line-height: 1.2em;}
      p {line-height: 1.6em;  color: $blue; padding-left: 5px; margin-bottom: 20px;}
    }
  }

  .single-sec{@include sec-default(); padding: 35px 0 95px; position: relative;z-index: 0;
    background-color: $white;text-align: center;
      .links {@include sec-grid(left, 40%); margin-left:5%; margin-bottom: 30px;
         padding: 25px 30px;
        font-size: 18px; font-weight: bold; font-family: $chels; letter-spacing: 1px;
      }
  }

}



.page {
  header{background-color: transparent;margin-bottom:40px; a {color: white;}}

  .bg-wrap {@include sec-default();
    padding: 15px 5% 0;
    background-color: $white;
    @include sec-bgimage('paper1.jpg'); background-repeat: repeat;

    position: relative;z-index: 0;
    &::before {@include before(); height: 600px;
      background: -webkit-linear-gradient(-122deg, transparent 30%, $blue 30%);
      background: linear-gradient(-6deg, transparent 30%, $blue 30%);
    }
    &::after {@include before();z-index: -2; top:40px; height: calc(100% - 80px); background-color:rgba(white, .7);}
  }

  .full-page {background-color: $f7; padding-top:0;
    box-shadow: 0px 0px 10px rgba(black, .35);
    // position: relative;z-index: 0;

    // &::after {@include before();@include sec-bgimage('boat-view4.jpg'); background-position: center center; width:118%; left:-9%; height:450px; top:68%; z-index: -2;}
    // &::before {@include before();width:118%; left:-9%;  height: 500px; top:65%;
    //   background: -webkit-linear-gradient(270deg, rgba(white, .2) 10%, rgba($f8, .7) 55%, $white 85%);
    //   background: linear-gradient(180deg, rgba(white, .2) 10%, rgba($f8, .7) 55%, $white 85%);
    // }
    // &::after {@include before(); z-index: -2;width:118%; height: 300px; background-color: $blue; left:-9%;}
  }

  .hd-over {@include sec-default();
    @include sec-bgimage('water-close.jpg');
    position: relative;z-index: 0;
    &::before{@include before(); background-color: rgba(black, .2);}

    .in-over{width: 90%; @include center-block();
      .inside{
       @include sec-bgimage('water-close.jpg');box-shadow: 0px 0px 20px rgba(black, .4); margin:5% 0;
        padding: 60px; text-align: center;
      }
    }
  }

  .diag-sec {@include sec-default();

    .faqs{@include sec-default(); padding: 60px;
      position: relative;z-index: 0;
      .content {width: 30%;}

      &.one, &.five {background-color: $blue;}
      &.last {background-color: $f8;}

      &.two, &.six {background-color: $yellow;
        &::before{@include before(); height: 100px;
          top: -40px;
          background: -webkit-linear-gradient(-122deg, $yellow 55%, $blue 55%);
          background: linear-gradient(-3deg, $yellow 55%, $blue 55%);
        }
        .content{float: right;}
      }

      &.three, &.svn {background-color: $orange;
        &::before{@include before(); height: 100px;
          top: -40px;
          background: -webkit-linear-gradient(-122deg, $orange 55%, $yellow 55%);
          background: linear-gradient(3deg, $orange 55%, $yellow 55%);
        }
      }

      &.four, &.eight {background-color: $white;
        &::before{@include before(); height: 100px;
          top: -40px;
          background: -webkit-linear-gradient(-122deg, $white 55%, $orange 55%);
          background: linear-gradient(-3deg, $white 55%, $orange 55%);
        }
        .content{float: right;}
      }
    }
  }

}







// .inwrap{@include sec-default();box-shadow: 0px 10px 30px rgba($black, .2);}
//   .bg-wrap{padding-top:30px;
//     width: 90%;@include center-block();
//     position: relative;z-index: 0;
//     &::before {@include before();height:500px; background-color: $navy; @include sec-bgimage('boat-view1.jpg'); width:111.5%; left:-6%;}
//     &::after {@include before();height:500px; background-color: rgba($white, .6); width:111.5%; left:-6%;}

//   }
//   header{background-color: transparent; nav{box-shadow: none;}}



