<header class="site-header">
  <div class="upper">
    <div class="inner">
      <div class="hd-social">
        <i class="uk-icon" uk-icon="mail"></i>
        <%= link_to"/fb", :target => "_blank" do %>
          <i class="uk-icon" uk-icon="facebook"></i>
        <% end %>

        <%= link_to "/insta", :target => "_blank" do %>
          <i class="uk-icon" uk-icon="instagram"></i>
        <% end %>
      </div>
    </div>
  </div>

  <nav>
    <div class="inner">
        <%= render 'layouts/nav' %>
    </div>
  </nav>

</header>
